@media (max-width: 1000px) {
    body{
        width: 100%;
    }
    .header{
        width: 100%;
        margin: 0;
        padding:0px 0px 0px 0px !important ;
    }
    .header-logo {
        padding: 0px;
    }

    .first-main {

        background-position: 0;
    }
    .text-optional h1,.text-optional-second{
        font-size: 22px;
    }
    .text-optional-second{
        height: 30px;
    }
    .text-optional h2{
        font-size:20px;
    }
    
    .sm-items {
        margin: 0 10px 0px 10px;
        width: 46%;
        display: inline-block;
        margin-bottom: 30px;
    }
   
    .sm-items-second{
        margin: 0 10px 0px 10px;
        width: 30%;
        display: inline-block;
        margin-bottom: 30px;
    }
}


@media (max-width: 701px) {

    /*.header,
    .second-main,
    .footer {
        flex-direction: column;
    }*/
    .burger-menu{
        width: 100%;
        display: block;
        margin: 10px 20px 10px 0px;
        text-align: right;
    }
    #menuControl {
        display: none;
    }
    
    #menuControl:checked + label > .header-nav {
        display: block;
        padding: 5px;
        width: 100%;
    }
    #menuControl:checked + label > ul li{
        display: block;
        padding: 10px;
    }
    
    .footer{
        flex-direction: column;
    }
    .footer-item{
        width: 100%;
        font-size: 12px;
        margin-bottom:15px;
    }
    .header{
        width: 100%;
    }
    
    
    .header-nav{
        display: none;
    }
    .header-items{
        text-align: center;
        display: block;
        width: 100%;
    }
    
    .second-main{
        padding: 10px;
        width: 90%;
    }

    .header-search input,
    .footer-second input {
        width: 15rem;
        margin: 10px 0;
    }

    .sm-items,.sm-items-second {
        width: 100%;
        display: inline-block;
        margin-bottom: 30px;
    }

    .first-main {
        background-position: center;
        padding-top: 200px;
        background-size: cover;
    }


    .main-text {
        width: 100%;
    }

    .main-text h1 {
        font-size: 30px;
    }

    .main-text p {
        font-size: 14px;
    }

    .header-nav a {
        padding: 0;
    }

}
